<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-page :style-fn="pageStyle" class="flex flex-center login-page">
        <q-card class="login-card">
          <h6 class="q-ma-sm q-mb-lg">Login</h6>
          <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
            <q-input
              filled
              v-model="email"
              type="email"
              label="Email*"
              lazy-rules
              :rules="[
                val =>
                  (val && val.length > 0 && val.includes('@')) ||
                  'Por favor insira um email válido!'
              ]"
            />

            <q-input
              filled
              type="password"
              v-model="password"
              label="Password*"
              lazy-rules
              :rules="[
                val => (val !== null && val !== '') || 'O password é obrigatório.',
                val => val.length >= 6 || 'O password deve conter no minimo 6 caracters.'
              ]"
            />

            <q-separator />

            <q-card-actions align="right">
              <q-btn label="Login" type="submit" color="primary" />
              <q-btn
                label="Registrar"
                type="button"
                color="primary"
                flat
                class="q-ml-sm"
                @click="goToRegisterPage()"
              />
            </q-card-actions>
          </q-form>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { Notify } from "quasar";
export default {
  name: "LoginPage",

  data: () => ({
    email: "eve.holt@reqres.in",
    password: "cityslicka"
  }),

  methods: {
    pageStyle(offset) {
      return { minHeight: offset ? `calc(100vh - ${offset}px)` : "100vh" };
    },
    async onSubmit() {
      this.$store
        .dispatch("auth/login", {
          email: this.email,
          password: this.password
        })
        .then(() => {
          Notify.create({
            message: "Login efetuado com sucesso!",
            type: "positive",
            position: "top-right"
          });
          this.$router.push("/users");
        })
        .catch(error => {
          console.error("Error in login", error);
          Notify.create({
            message: error ?? "Erro ao efetuar login!",
            type: "negative",
            position: "top-right"
          });
        });
    },
    onReset() {},
    goToRegisterPage() {
      this.$router.push("/register");
    }
  }
};
</script>

<style lang="scss">
.login-page {
  .login-card {
    min-width: 400px;
    padding: 15px;
  }
}
</style>
