<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-page :style-fn="pageStyle" class="flex flex-center login-page">
        <q-card class="login-card">
          <div class="header-card flex q-mb-lg">
            <q-btn flat round color="primary" icon="arrow_back" @click="$router.push('/')" />
            <h6 class="q-ma-sm">Registrar usuário</h6>
          </div>

          <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
            <q-input
              filled
              v-model="email"
              type="email"
              label="Email*"
              lazy-rules
              :rules="[
                val =>
                  (val && val.length > 0 && val.includes('@')) ||
                  'Por favor insira um email válido!'
              ]"
            />

            <q-input
              filled
              type="password"
              v-model="password"
              label="Password*"
              lazy-rules
              :rules="[
                val => (val !== null && val !== '') || 'O password é obrigatório.',
                val => val.length >= 6 || 'O password deve conter no minimo 6 caracters.'
              ]"
            />

            <q-separator />

            <q-card-actions align="right">
              <q-btn label="Enviar" type="submit" color="primary" />
              <q-btn label="Limpar" type="reset" color="primary" flat class="q-ml-sm" />
            </q-card-actions>
          </q-form>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { Notify } from "quasar";
export default {
  name: "RegisterPage",

  data: () => ({
    email: "",
    password: ""
  }),

  methods: {
    pageStyle(offset) {
      return { minHeight: offset ? `calc(100vh - ${offset}px)` : "100vh" };
    },
    async onSubmit() {
      this.$api
        .post("api/register", {
          email: this.email,
          password: this.password
        })
        .then(() => {
          Notify.create({
            message: "Usuário cadastrado com sucesso!",
            type: "positive",
            position: "top-right"
          });
          this.$router.push("/");
        })
        .catch(({ response }) => {
          console.error("Error in register", response?.data?.error);
          Notify.create({
            message: response?.data?.error ?? "Erro ao efetuar cadastro!",
            type: "negative",
            position: "top-right"
          });
        });
    },
    onReset() {
      this.email = "";
      this.password = "";
    },
    goToRegisterPage() {
      this.$router.push("/register");
    }
  }
};
</script>

<style lang="scss">
.login-page {
  .login-card {
    min-width: 400px;
    padding: 15px;
  }
}
</style>
