<template>
  <div class="q-pa-md">
    <q-table
      grid
      :card-container-class="cardContainerClass"
      title="Usuários"
      :data="data"
      :columns="columns"
      row-key="name"
      :filter="filter"
      hide-header
      :pagination.sync="pagination"
      :rows-per-page-options="rowsPerPageOptions"
      @update:pagination="print"
    >
      <template v-slot:top-left>
        <h6 class="q-ma-lg">Lista usuários</h6>
        <q-btn class="q-mb-lg" @click="handleExit">Sair</q-btn>
      </template>
      <template v-slot:top-right>
        <q-btn class="q-mt-lg" @click="$refs.modalUser.openModal()">Criar usuário</q-btn>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filter"
          placeholder="Search"
          style="display: none"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:item="{ row }">
        <UserCard
          v-if="row"
          :user="row"
          @editUser="handleEditUser"
          @deleteUser="handleRemoveUser"
        />
      </template>
    </q-table>
    <ModalCreateUser
      ref="modalUser"
      @createUser="handleCreateUser"
      @updateUser="handleUpdateUser"
    />
  </div>
</template>
<script>
import { Notify } from "quasar";
import ModalCreateUser from "../components/ModalCreateUser.vue";
import UserCard from "../components/UserCard.vue";
export default {
  name: "UsersList",

  components: { UserCard, ModalCreateUser },

  data() {
    return {
      filter: "",
      pagination: {
        page: 1,
        rowsPerPage: 1,
        rowsNumber: 10
      },
      columns: [
        { name: "first_name", label: "first_name", field: "user.first_name" },
        { name: "last_name", label: "Calories (g)", field: "last_name" }
      ],
      data: [],
      currentEditingUser: null
    };
  },

  computed: {
    cardContainerClass() {
      if (this.$q.screen.gt.xs) {
        return "grid-masonry grid-masonry--" + (this.$q.screen.gt.sm ? "3" : "2");
      }

      return void 0;
    },

    rowsPerPageOptions() {
      if (this.$q.screen.gt.xs) {
        return this.$q.screen.gt.sm ? [3, 6, 9] : [3, 6];
      }

      return [3];
    }
  },

  watch: {
    "pagination.page"(value) {
      console.log("Page change", value);
    }
  },

  async created() {
    this.fetchUsers();
  },

  methods: {
    async fetchUsers() {
      this.$api
        .get("/api/users", { params: { page: this.pagination.page } })
        .then(response => {
          const { data, page, per_page, total, total_pages } = response.data || {};
          this.data = data;
          this.pagination.page = page;
          this.pagination.rowsPerPage = per_page;
          this.pagination.rowsNumber = total;
        })
        .catch(e => console.error("Error get users", e));
    },
    async handlePageChange(pagination) {
      this.pagination = pagination;
      await this.fetchUsers();
    },
    handleExit() {
      this.$store.dispatch("auth/logout");
    },
    handleEditUser(user) {
      // desestruturação de objeto usando spread para não manter referência do objeto shadowClone
      this.$refs.modalUser.user = { ...user };
      this.$refs.modalUser.isEditing = true;
      this.$refs.modalUser.openModal();
    },
    handleRemoveUser(user) {
      const userIndex = this.data.findIndex(u => u.id === user.id);
      if (userIndex > -1) {
        this.data.splice(userIndex, 1);
        Notify.create({
          message: "Usuário deletado com sucesso!",
          type: "positive",
          position: "top-right"
        });
      }
    },
    handleUpdateUser(user) {
      const userIndex = this.data.findIndex(u => u.id === user.id);
      if (userIndex > -1) this.data.splice(userIndex, 1, user);
    },
    handleCreateUser(user) {
      this.data.pop();
      this.data.unshift(user);
    }
  }
};
</script>
<style lang="sass">
.grid-masonry
  flex-direction: column
  height: 700px

  &--2
    > div
      &:nth-child(2n + 1)
        order: 1
      &:nth-child(2n)
        order: 2

    &:before
      content: ''
      flex: 1 0 100% !important
      width: 0 !important
      order: 1
  &--3
    > div
      &:nth-child(3n + 1)
        order: 1
      &:nth-child(3n + 2)
        order: 2
      &:nth-child(3n)
        order: 3

    &:before,
    &:after
      content: ''
      flex: 1 0 100% !important
      width: 0 !important
      order: 2
</style>
