<template>
  <q-dialog v-model="opened">
    <q-card class="user-form">
      <h6 class="q-ma-sm q-mb-lg">{{ isEditing ? "Editar" : "Criar" }} usuário</h6>
      <q-form @submit="handleSubmit" class="q-gutter-md">
        <q-input
          filled
          v-model="user.first_name"
          type="text"
          label="Nome*"
          lazy-rules
          :rules="[val => (val && val.length > 2) || 'Por favor insira um nome válido!']"
        />

        <q-input
          filled
          v-model="user.last_name"
          type="text"
          label="Sobrenome*"
          lazy-rules
          :rules="[val => (val && val.length > 2) || 'Por favor insira um sobrenome válido!']"
        />

        <q-input
          filled
          type="email"
          v-model="user.email"
          label="Email*"
          lazy-rules
          :rules="[val => (val !== null && val !== '') || 'O nome é obrigatório.']"
        />

        <q-input
          filled
          type="url"
          v-model="user.avatar"
          label="Avatar (link)*"
          lazy-rules
          :rules="[
            val =>
              val.includes('http') ||
              val.includes('https') ||
              'insira uma url válida (http ou https)'
          ]"
        />

        <q-separator />

        <q-card-actions align="right">
          <q-btn :label="isEditing ? 'Alterar' : 'Criar'" type="submit" color="secondary" />
          <q-btn
            label="Voltar"
            type="button"
            color="primary"
            flat
            class="q-ml-sm"
            @click.prevent="handleBackButton"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import { Notify } from "quasar";
export default {
  name: "ModalUserCreate",

  data: () => ({
    user: {
      first_name: "",
      last_name: "",
      email: "",
      avatar: ""
    },
    opened: false,
    isEditing: false
  }),

  methods: {
    async handleSubmit() {
      const callApi = this.isEditing ? this.updateUser : this.createUser;

      await callApi();
    },

    openModal() {
      this.opened = true;
    },

    handleBackButton() {
      this.user = {
        name: "",
        email: "",
        avatar: ""
      };
      this.isEditing = false;
      this.opened = false;
    },

    async updateUser() {
      this.$api
        .put(`/api/user/${this.user.id}`, this.user)
        .then(res => {
          Notify.create({
            message: "Usuário atualizado com sucesso!",
            type: "positive",
            position: "top-right"
          });
          this.$emit("updateUser", res.data);
          this.opened = false;
        })
        .catch(e => {
          const errorMessage =
            e?.response?.data?.error ??
            "Erro ao tentar alterar o usuário, tente novamente mais tarde.";
          Notify.create({
            message: errorMessage,
            type: "positive",
            position: "top-right"
          });
        });
    },

    async createUser() {
      this.$api
        .put(`/api/user/${this.user.id}`, this.user)
        .then(res => {
          Notify.create({
            message: "Usuário criado com sucesso!",
            type: "positive",
            position: "top-right"
          });
          this.$emit("createUser", res.data);
          this.opened = false;
        })
        .catch(e => {
          const errorMessage =
            e?.response?.data?.error ??
            "Erro ao tentar criar o usuário, tente novamente mais tarde.";
          Notify.create({
            message: errorMessage,
            type: "positive",
            position: "top-right"
          });
        });
    }
  }
};
</script>

<style>
.user-form {
  padding: 20px;
  min-width: 400px;
}
</style>
