<template>
  <div class="q-pa-xs col-xs-12 col-sm-6 col-md-4 user-card">
    <q-card>
      <div class="user-card__buttons q-pa-md q-gutter-sm">
        <q-btn round color="primary" icon="edit" @click="$emit('editUser', user)" />
        <q-btn round color="secondary" icon="delete_forever" @click="$emit('deleteUser', user)" />
      </div>
      <q-card-section class="flex flex-center">
        <q-avatar size="100px">
          <img :src="user.avatar" />
        </q-avatar>
      </q-card-section>
      <q-card-section class="text-center">
        <div>ID:{{ user.id }} {{ user.first_name }} {{ user.last_name }}</div>
        email: <strong>{{ user.email }}</strong>
      </q-card-section>
      <q-separator />
    </q-card>
  </div>
</template>

<script>
import { QBtn } from "quasar";
export default {
  name: "UserCard",

  components: { QBtn },

  props: {
    user: {
      type: Object,
      default: () => {}
    }
  }
};
</script>

<style lang="scss">
.user-card {
  margin-bottom: 20px;
  $root: &;
  &:hover {
    #{$root}__buttons {
      opacity: 1;
    }
  }
  &__buttons {
    opacity: 0.3;
  }
}
</style>
